{% extends 'base.html' %}

{% block body %}
    <div class="flex flex-col gap-4">
        <h1 class="text-3xl">Debug</h1>

        <div class="flex flex-col gap-3">
            <h2 class="text-xl">DNS pointer file</h2>
            <pre class="bg-gray-200 p-2 rounded"><code>{{ dns_pointer }}</code></pre>
        </div>

        <div class="flex flex-col gap-3">
            <h2 class="text-xl">DNS zone</h2>
            <pre class="bg-gray-200 p-2 rounded break-all whitespace-pre-wrap max-h-80 overflow-auto"><code>{{ dns_zone }}</code></pre>
        </div>

        <div class="flex flex-col gap-3">
            <h2 class="text-xl">Data folder</h2>
            <pre class="bg-gray-200 p-2 rounded break-all whitespace-pre-wrap max-h-80 overflow-auto"><code>{{ data_folder_tree }}</code></pre>
        </div>
    
        {% include 'debug_live_logs.html' %}
    </div>
{% endblock %}