{% extends 'base.html' %}

{% block body %}
    <div class="flex flex-col gap-4">
        <h1 class="text-3xl">Donnée extraite du job #{{ job.id }}</h1>

        <div>
            <p class="font-semibold">Commande</p>
            <pre class="bg-gray-200 p-2 rounded"><code>{{ job.raw_command }}</code></pre>
        </div>
        <p>Chunks reçus: {{ job.chunks_received_count }} chunks</p>

        <div>
            <p class="font-semibold">Chunks manquants</p>
            <pre class="bg-gray-200 p-2 rounded text-wrap"><code>{{ job.find_missing_chunks }}</code></pre>
        </div>

        <div>
            <p class="font-semibold">Fichiers</p>
            <pre class="bg-gray-200 p-2 rounded"><code>{{ files_tree }}</code></pre>
        </div>

        <div>
            <p class="font-semibold">Données</p>
            <pre class="bg-gray-200 p-2 rounded"><code>{{ extracted }}</code></pre>
        </div>
    </div>
{% endblock %}