{% extends 'base.html' %}

{% block body %}
    <!-- Table Module -->
    <div class="bg-surface-container-lowest rounded-xl border border-surface-variant overflow-hidden shadow-sm">
        <div class="p-4 border-b border-surface-variant flex justify-between items-center bg-surface-container-low">
            <span class="font-data-mono text-data-mono text-on-surface-variant">Machines</span>
        </div>
        <table class="w-full text-left border-collapse">
            <thead>
            <tr class="border-b border-surface-variant">
                <th class="px-6 py-4 font-label-caps text-outline bg-surface-container-lowest">ID</th>
                <th class="px-6 py-4 font-label-caps text-outline bg-surface-container-lowest">IP</th>
                <th class="px-6 py-4 font-label-caps text-outline bg-surface-container-lowest">Dernière activité</th>
                <th class="px-6 py-4 font-label-caps text-outline bg-surface-container-lowest">Première activité</th>
                <th class="px-6 py-4 font-label-caps text-outline bg-surface-container-lowest">Tâches terminées</th>
                <th class="px-6 py-4 font-label-caps text-outline bg-surface-container-lowest text-right">Actions</th>
            </tr>
            </thead>
            <tbody class="font-data-mono text-data-mono">
            {% for machine in machines %}
                <tr class="border-b border-surface-variant hover:bg-surface-container-low transition-colors">
                <td class="px-6 py-5 text-primary font-bold">
                    {% if machine.name %}
                    	{{ machine.name }} ({{ machine.dns_identifier }})
                    {% else %}
                        {{ machine.dns_identifier }}
                    {% endif %}
                </td>
                <td class="px-6 py-5 text-on-surface">
                    {{ machine.ip }}
                </td>
                <td class="px-6 py-5 text-on-surface-variant">{{ machine.last_handshake_at }}</td>
                <td class="px-6 py-5 text-on-surface-variant">{{ machine.created_at }}</td>
                <td class="px-6 py-5 text-on-surface-variant">{{ machine.finished_jobs_count }}</td>
                <td class="px-6 py-5 text-right">
                    <div class="flex items-end flex-col gap-2">
                        <form method="post" action="/job/create/{{ machine.id }}" class="flex gap-2">
                            {% csrf_token %}
                            <label>
                                <input type="text" name="command" class="border p-1" placeholder="cat /etc/passwd" required>
                            </label>
                            <button class="bg-primary text-white py-1 px-2 rounded-xl font-medium hover:bg-primary-container transition-all cursor-pointer"
                                    {% if machine.get_current_job %}disabled{% endif %}
                                    type="submit">
                                    <span class="mdi mdi-cog-box"></span>
                            </button>
                        </form>

                        <a class="bg-secondary text-white py-1 px-2 rounded-xl font-medium hover:bg-primary-container transition-all"
                           href="/jobs?machine_id={{ machine.id }}">
                            <span class="mdi mdi-eye"></span> Tâches
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="p-4 flex justify-between items-center bg-surface-container-low border-t border-surface-variant">
            <div class="text-on-surface-variant text-[12px] font-data-mono px-2">
                TOTAL: {{ machines.count }}
            </div>
        </div>
    </div>
{% endblock %}